## What's Changed

{{RELEASE HIGHLIGHTS}}

### Usage

Update your `.trunk/trunk.yaml`:

```yaml
plugins:
  sources:
    - id: navigaite
      uri: https://github.com/navigaite/nvgt-trunk-plugin
      ref: {{VERSION}}
```

---

_Automated release by Navigaite CI/CD_
